.aboutMe /* Placement of the container for the About Me section */
{
    position: relative;
    height: 12.7792%;
    width: 100%;
    top: 92.9382vh;
    padding-bottom: 75px;
}
        .aboutMebox /* Placement & formatting of the black "About" box */
        {
            position: relative;
            height: 32.321vh;
            width: 87.362vw;
            margin: auto 2.0833vw auto 10.55553vw;
            background-color: rgba(0, 0, 0, .85);
            z-index: 2;
        }
                .aboutLine /* Placement & formatting of multi-colored line at the top of the "About" box */
                {   
                    height: 7px;
                    width: 100%;
                    background: linear-gradient(to left, #91bda4, #020000);
                    z-index: 3;
                }
                .aboutHeading /* Placement of the "About" heading */
                {
                    position: absolute;
                    font-size: 5vw;
                    top: 0;
                    margin: 18.7579vh auto 2.5348vh 1.3889vw;
                    z-index: 1;                   
                } 
        .aboutRed /* Placement & formatting of the red unerbox */
        {
            position: absolute;
            height: 32.32vh;
            width: 87.362vw;
            top:1.2674vh;
            margin: auto 2.7778vw auto 9.8611vw;
            background-color: #a40505;
            z-index: 1;
        }
        .abouttext /* Placement of the "About Me" text */
        {
            width: 71.945%;
            height: 51.439%;
            font-size: 1.66667vw;
            padding-top: 5.209%;
            margin: auto 15.417% auto  12.639%;
        }    



.myskills
{
    position: absolute;
    top: 153.846vh;
    height: 132.41vh;
    width: 100%;
    padding: 9.5057vh 0 9.5057vh 0;
}
        .skillBox /* Creates and places the black "Skill" dividing box */
        {
            position: relative;
            height: 32.321vh;
            width: 87.362vw;
            margin:  auto 2.0833vw auto 10.55553vw;
            background-color:rgba(0, 0, 0, .85);
            z-index: 2;
        }
                h5 /* Placement of the text 'UX'*/
                {
                    color: rgba(0, 0, 0, 0.35);
                    font-weight: 400;
                    font-size: 10vw;
                    margin: 13.308vh auto auto 63.5417vw;
                    color: rgba(240, 191, 16, 0.5);
                }        
                .skillsIntro /* Placement of the text for the "Skills" section heading*/
                {
                    margin: 18.7579vh auto 2.5348vh 1.3889vw;
                    color: white;
                }
                h4 /* Placement of the text 'Skills'*/ 
                {
                    margin: 18.7579vh auto 2.5348vh 75.347vw;
                    color: white;
                }
        .skillsRed
        {
            top: 9.5057vh; 
            position: absolute;
            height: 32.32vh;
            width: 87.362vw;
            background-color: #a40505;
            margin: 1.2674vh auto auto 9.8611vw;
        }
        .flexContainer
        {
            margin: 5.209% 16.12% auto 11.95%;
            width: 71.945%;
            height: 63%;
            display: flex;
            flex-direction: column;
            line-height: 5.0442vh;
        }
                .uxSkills, .skillsList /* Placement & text modifiers for items in the list of skills */
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 3.0265vh;
                }
