.contact
{
    position: absolute;
    top: 455.233vh;
    height: 85.752vh;
    width: 100%;
    padding: 9.5057vh 0 9.5057vh 0;
}
    .contactMe
    {
        color: black;
        margin: auto 29.167% 0 29.167%;
        width: 41.667%;
        font-size: 5vw;
        text-align: center;
        border-bottom: 0.5vh solid black;
    } 
    #contactheader
    {
        width: 100%;
        font-size: 3.33333vw;
        color: black;
        padding-top: 9.5057vh;
        text-align: center;
        margin-top: 11.4068vh;
    }        
    .card1
    {
        position: absolute;
        height: 40.559vh;
        width: 19.792vw;
        margin: 15.556% auto auto 11.945%;
        padding-top: 8.334%;
    } 
        #gmail
        {
            position: absolute;
            width: 10.417vw;
            margin: 5.615% 23.16% auto 23.16%;
        }
        #email
        {
            position: absolute;
            margin: 19.0114vh auto auto auto;
            width: 100%;
            font-size: 1.66667vw;
            text-align: center;
            padding-top: 1.2674vh;
            z-index: 2;
        }
    .card2
    {
        position: absolute;
        margin: 15.556% 31.771% auto 31.771%;
        height: 47.061%;
        width: 36.459%;
        padding: 8.334% 8.334% 0 8.334%;
    }
        #phone
        {
            position: absolute;
            width: 10.417vw;
            height: 19.013vh;
            margin: auto 12.86% auto 12.86%;
        }
        #phonenumber
        {
            width: 100%;
            margin: 19.0114vh  auto auto auto;
            font-size: 1.66667vw;
            text-align: center;
            padding-top: 1.2674vh;
        }
    .card3
    {
        position: absolute;
        height: 47.061%;
        width: 19.792%;
        padding-top: 8.334%;
        margin: 15.556% 11.945% auto 68.264%;
    }
        #linkedin
        {
            position: absolute;
            width: 10.417vw;
            margin: auto 23.685% auto 23.685%;
        }
        #mylinkedin
        {
            position: absolute;
            width: 100%;
            margin: 52.635% auto auto auto;
            text-align: center;
            font-size: 1.66667vw;
            padding-top: 3.51%;
            z-index: 2;
        }



.footer /* Makes the footer class the height of the full page */
{
    position: absolute;
    height: inherit;
    width: 100%;
    top: 0;
}
    #footer /* Placement & formatting of the Footer bar*/
    {
        position: absolute;
        height: 6.972vh;
        width: 100%;
        bottom: 0;
        background-color: black;
    }
        #cp2021 /* Formatting & placement of the "Copyright 2021" text */
        {
            position: absolute;
            height: 100%;
            width: 9.028vw;
            line-height: 6.97085vh;
            font-size: 1.25vw;
            text-align: center;
            margin: auto 88.75vw auto 2.2222vw;
            color: white;
        }
        .figma /* Formatting & placement of the figma item */  
        {
            position: absolute;
            height: 100%;
            width: 13.126vw;
            margin: auto auto auto 71.597vw;
        }
            #figma /* Formatting & placement of "Designed in" figma text */
            {
                position: absolute;
                height: 100%;
                width: 8.195vw; 
                padding-right: 1.3889vw;
                line-height: 6.97085vh;
                font-size: 1.25vw;
                color: white;
            }
            #figmaLogo /* Formatting & plcement of the Figma logo */
            {
                position: absolute;
                width: 6.5975vw;
                margin:1.5843vh auto 1.5843vh  6.80556vw;
                padding-left: 1.38889vw;
                padding-right: 3.125vw;
            }

        .vsCode /* Formatting & placement of the vsCode item */
        {
            position: absolute;
            height: 100%;
            width: 15.487vw;
            margin: auto auto auto 84.514vw;
            color: white;
        }
            #vsCode /* Formatting & placement of "Built with" vscode text */
            {
                position: absolute;
                height: 100%;
                width: 9.931vw;
                line-height: 6.97085vh;
                margin-bottom: 0;
                font-size: 1.25vw;
                padding-left: 1.38889vw;
                padding-right: 3.125vw;
            }

            #vsCodeLogo /* Formatting & placement of vscode logo */
            {
                position: absolute;
                width: 6.945vw;
                height: 3.804vh;
                margin: 1.5843vh auto 1.5843vh  8.5417vw;
                padding-left: 1.38889vw;
                padding-right: 3.47222vw;
            }
        .footerdivider /* Formatting & placement of the Divider Line between figma and vs code text */
        {
            position: absolute;
            height: 5.705vh;
            margin: 0.63374vh auto 0.63374vh 83.6806vw;
            border: 0.1vw solid white;
        }
