.modal-dialog 
{
    max-width: 96.528%;
}
.modal
{
    padding-right: 0px !important;
}

.modal-body, .modal-body2
{
    padding: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black ;
}

.cs1full, .cs2full, .cs3full
{
    height: 343.093vh;
}

.csaboutpt1
{
    width: 41.355%;
    margin: 12.537% 11.096% 3.603% 47.695%;
    padding-top: 3.603%;
    font-size: 3.5309vh;
    color: white;
}

.csaboutpt2
{
    width: 41.355%;
    margin: 3.603% 11.096% 7.205% 47.695%;
    font-size: 3.5309vh;
    color: white;
}

.cs1title, .cs2title, .cs3title
{
    width: fit-content;
    margin: 7.205% auto 2.882% 47.695%;
}

/*#banner8, #bannerUserTesting, #bannerAffinity, #testResults, #userPersona, #featureMatrix, #storyboard, #userFlow, 
#cs3ProtoPersonaINT, #cs3UserPersonaINT, #cs3InterviewsINT, #cs3AffinityINT, #cs3StoryboardINT, #cs3UserFlowINT
{
    height: 92.94vh;
    background-color: rgba(0, 0, 0, 0.5); 
}*/

.csbanner
{ 
    position: absolute;
    height: 42.565%;
    width: 100%;
    margin-top: 15.144%;
}

.figmaProto, .figmaBoard
{
    width: fit-content;
    font-size: 1.38889vw;
    margin: 0px 0px 0px 1.081%;
}

.active
{
    height: 100%;
}

.csIMGdownload
{
    position: absolute;
    right: 0;
    height: 2.778vw;
    bottom: 2.055%;
    z-index: 2;
}

#csBannerHead
{
    position: absolute;
    width: max-content;
    height: 16.03%;
    text-decoration: underline;
    font-size: 2.91667vw;
    color: white;
    margin: 1.08% auto auto 43.949%;
    padding-left: 1.439%;
}

#csBannertxt
{
    position: absolute;
    width: 35.087%;
    line-height: 3.9092vh;
    font-size: 1.944441vw;
    color: white;
    margin: 6.413% 17.364% auto 47.551%; 
}

.carousel-caption
{
    padding: 1.2674vh;
    font-size: 1.66667vw;
    line-height: 3.04183vh;
}