.cs2heading
{
    position: absolute;
    height: 43.334vw;
    width:  100%;
    background-color: rgba(0, 0, 0, 0.85);;
}

.cs2hero
{
    position: absolute;
    height: 31.25vw;
    margin: 7.205% 0 0 3.243%;
}

.cs2middlebox
{
    position: absolute;
    height: 49.584vw;
    width: 100%;
    margin: 44.957% auto 88.833% auto;
}

.cs2bottombox
{
    position: absolute;
    height: 234.375vw;
    width: 100%;
    top: 92.917vw;
    background-color: rgba(0, 0, 0, .85);
}
.cs2title
{
    width:33.79%;
    margin:7.205% 18.516% 2.882% 47.695%
}

.cs2Proto
{
    position: absolute;
    top: 0;
    width: 21.614%;
    margin: 15.202% 61.168% auto 17.364%;
}

.cs2CardSort
{
    position: absolute;
    top: 0;
    width: 21.614%;
    margin: 18.8765% 52.45% auto 26.081%
}

.cs2SiteMap
{
    position: absolute;
    top: 0;
    width: 21.614%;
    margin: 17.796% 70.3895% auto 8.142%;
}

.cs2RedesignMap
{
    position: absolute;
    top: 0;
    width: 21.614%;
    margin: 30.404% 74.64% auto 3.747%;
}

.cs2Style
{
    position: absolute;
    top: 0;
    width: 21.614%;
    margin: 28.675% 53.026% auto 25.361%;
}

.cs2protoBanner, .cs2CardSortBanner, .cs2banner
{
    position: absolute;
    height: 312px;
    width: 100%;
    margin-top: 3.891%
}

.cs2Proto:hover, .cs2CardSort:hover, .cs2SiteMap:hover, .cs2RedesignMap:hover, .cs2Style:hover
{
    box-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px rgba(164, 5, 5, 1);
    z-index:1;
    width: 25.217%;
    opacity: 0.9;
}

#cs2Proto, #cs2CardSort, #cs2SiteMap, #cs2RedesignMap, #cs2Style
{
    width: 100%;
    position: absolute;
}

#cs2Proto:hover, #cs2CardSort:hover, #cs2SiteMap:hover, #cs2RedesignMap:hover, #cs2Style:hover
{
    box-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px rgba(164, 5, 5, 1);
    z-index: 1;
}

#bannerHead
{
    position: absolute;
    width: max-content;
    height: 49px;
    text-decoration: underline;
    font-size: 42px;
    color: white;
    margin: 15px 492px 248px 630px;
}

#bannertxt
{
    position: absolute;
    width: 485px;
    line-height: 31px;
    font-size: 28px;
    max-height: 180px;
    color: white;
    margin: 89px 262px auto 660px; 
}

.lofiWires
{
    position: relative;
    font-size: 2.5vw;
    width: 100%;
    text-align: center;
    margin-top: 12.465%;
    text-decoration: underline;
}

.cs2hifiWires
{
    position: relative;
    font-size: 2.5vw;
    line-height: 2.5vw ;
    width: 100%;
    text-align: center;
    margin-top: 690px;
    margin: 5.404% 0px 3.603% 0px;
    text-decoration: underline;
}

a
{
    color: #EFC531;
}
a:visited
{ 
    color:#e2dabc;
}


.cs2row1, .cs2row5
{
    display: grid;
    grid-template-columns: 14.982% 14.982% 14.982% 14.982% 14.982% 14.982%;
    grid-gap: 1.875vw;
    height: 21.875vw;
    width: fit-content;
    margin: 3.603% auto auto auto;
}

.cs2row2, .cs2row3, .cs2row4, .cs2row6, .cs2row7, .cs2row8
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    grid-gap: 1.875vw;
    height: 21.875vw;
    width: fit-content;
    margin: 3.603% auto auto auto;
}


.w-250px 
{
    width: 90.278vw;
    height: 88.7199vh;
    margin: auto;
}

.cs2Screens
{
    width: 13.889vw;
    height: 100%;
}
