
.heading3
{
    position: absolute;
    height: 81.497vh;
    width:  100%;
    background-color: rgba(0, 0, 0, 0.85);;
}

/*.cs3title
{
    width: 28.603%;
    margin: 7.205% 24.208% 40px 47.695%;
}*/

.cs3bottombox
{
    position: absolute;
    height: 233.725%;
    width: 100%;
    top: 222.705%;
    background-color: rgba(0, 0, 0, .85);
}

.cs3ProtoPersona
{
    position: absolute;
    width: 21.614%;
    top: 0;
    margin: 15.274% 74.928% auto 3.459%;
}

.cs3UserPersona
{
    position: absolute;
    width: 21.614%;
    top: 0;
    margin: 15.7064% 53.603% auto 24.784%;
}

.cs3Interviews
{
    position: absolute;
    width: 21.614%;
    top: 0;
    margin: 23.4875% 72.119% auto 6.2685%;
}

.cs3Affinity
{
    position: absolute;
    width: 21.614%;
    top: 0;
    margin: 23.055% 54.251% auto 24.136%;
}

.cs3StoryBoard
{
    position: absolute;
    width: 21.614%;
    top: 0;
    margin: 29.323% 74.928% auto 3.459%;
}

.cs3UserFlow
{
    position: absolute;
    width: 21.614%;
    top: 0;
    margin: 33.286% 53.963% auto 24.424%;
}

.cs3ProtoPersona:hover, .cs3UserPersona:hover, .cs3Interviews:hover, .cs3Affinity:hover, .cs3StoryBoard:hover, .cs3UserFlow:hover
{
    box-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px rgba(164, 5, 5, 1);
    z-index:1;
    width: 25.217%;
    opacity: 0.9;
}

/*.csbanner
{ 
    position: absolute;
    height: 312px;
    width: 100%;
    margin-top: 15.31%;
}*/

#cs3ProtoPersona, #cs3UserPersona, #cs3Interviews, #cs3Affinity, #cs3Storyboard, #cs3UserFlow
{
    width: 100%;
    position: absolute;
}

#cs3ProtoPersona:hover, #cs3UserPersona:hover, #cs3Interviews:hover, #cs3Affinity:hover, #cs3Storyboard:hover, #cs3UserFlow:hover
{
    box-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px rgba(164, 5, 5, 1);
    z-index: 1;
}

.cs3hifiWires
{
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding: 50px 0px 25px 0px;
    text-decoration: underline;
}


.cs3row1
{
    display: grid;
    grid-template-columns: 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw;
    grid-gap: 2.08333vw;
    height: fit-content;
    width: fit-content;
    margin: 3.603% 4.323% auto 4.323%;
}

.cs3row2
{
    display: grid;
    grid-template-columns: 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw;
    grid-gap: 2.08333vw;
    height: fit-content;
    width: 88.195vw;
    margin: auto 4.323%;
}
.cs3row3
{
    display: grid;
    grid-template-columns: 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw 6.945vw;
    grid-gap: 2.08333vw;
    height: fit-content;
    width: 52.084vw;
    margin: 3.603% 27.738% 7.205% 27.738%;
}


.w-350px
{
    width: 19.098vw;
    margin-right: auto;
    margin-left: auto;
}

.w-300px
{
    width: 1200px ;
    margin: 1% auto auto auto;
}
.carousel-inner
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-caption
{
    position: unset;
    padding-top: 75px;
}
.carousel-indicators
{
    top: 0;
    width: 100%;
    height: max-content;
    margin: auto 0 0 0;
    background-color: rgba(0, 0, 0, .5);
}

.cs3hero
{
    position: absolute;
    height: 69.71vh;
    margin: 5.404% 0 0 10.807%;
}

.cs3middlebox
{
    position: absolute;
    height: 115.36%;
    width: 100%;
    margin-top: 81.4956vh;
}

.cs3UserFlowIMGcontainer
{
    position: absolute;
    width: 43.166%;
    height: 83.27%; 
    margin: 1.871% auto 1.871% 0.72%;
}

.cs3UserFlowIMGcontainer:hover
{
    box-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px rgba(164, 5, 5, 1);
    width: 46.763%;
    height: 90.313%;
    z-index: 1;
    margin: 1.08% 0 1.08% 0.72%;
}

.cs3Screens
{
    height: 100%;
    width: 100%;
}