html, body
    {
        margin:0;
        padding:0;
    }
body
{
    height: 547.669vh;
    width: 100%;
    overflow-x: hidden;
}

    

h1,h2,h4,h5,pre /* Formatting of text */
{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}   h1, h4 /* Formatting and placement of text used for intro heading */
    {
        margin-top:23.75%;
        font-size: 9.12548vh;
        font-weight: 500; 
    } h2 /* Formatting and placement of text used with <h2> tag */
    {
        margin-top:29.59%;
        font-size: 2.2vw;
        font-weight: 400;
    }









