.myWork
{
    position: absolute;
    height: 188.213vh;
    width: 100%;
    top: 276.933vh;
    padding: 9.5057vh 0 9.5057vh 0;
}
.redBox /* Placement of the "Case Study" section background */
{
    position: absolute; 
    height: 169.203vh;
    width: 100%; 
    top: 9.5057vh;
    background: rgba(164, 5, 5, 1);
    z-index:-1;
}
.workBox
{
    position: absolute;
    height: 166.668vh;
    width: 100%;
    margin: 1.2674vh auto 1.2674vh auto;
    background: rgba(0, 0, 0, 0.85);
}


.caseStudies /* Placement of the text 'Case Studies' and the underline*/
{
    width: 85.973%;
    color: white;
    top: 75px;
    margin: 0.695% 62.709% auto 8.334%;
    padding-top: 3.473%;
    line-height: 9.12548vh;
    border-bottom: 2px solid white;
}

.caseStudy,#caseStudy2,#caseStudy3 /* Placement and formatting of the individual case study tiles */
{
    position: absolute;
    top: 26.616vh; 
    height: 29.405vh;
    width: 83.612%;
    margin: 9.5057vh 9.584% auto 6.806%;
    background: rgba(229, 229, 229, 1); 
    border: 1px solid rgba(0, 0, 0, .6); 
    z-index: 1;  
}

.caseStudy:hover,#caseStudy2:hover,#caseStudy3:hover
{
    box-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px rgba(164, 5, 5, 1);
}
.cs1,.cs2,.cs3 /* Placement of the pictures for each case study */
{
    position: absolute;
    height: 35.488vh; 
    width: 32.28%;
    margin: 1.2674vh auto -5.408% 1.04165vw;
    z-index: 2;
    
}
.cs1Logo,.cs2Logo,.cs3Logo
{
    display: block;
    width: 100%;
    height: 100%;
}

.cs1Overlay,.cs2Overlay,.cs3Overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width:100%;
    height: 0;
    transition: .5s ease;
}

.cs1:hover .cs1Overlay, .cs2:hover .cs2Overlay, .cs3:hover .cs3Overlay
{
    height: 100%;
    opacity: 100%;
}



pre /* Formatting of the case study text*/
{
    position: relative;
    color: black;
    font-size: 3.04183vh;
    line-height: 100%;
    overflow: hidden;
    margin: 0.833% auto auto 33.445%;
    padding-left: 1.7361vw;
}

#caseStudy2 /* Placement of the text for the second case study */
{
    top: 39.37%;
}
#caseStudy3 /* Placement of the text for the third case study */
{
    top: 64.655%;
}